In [131]:
import numpy as np
import pandas as pd
import sqlite3 as db
from pandasql import sqldf

In [132]:
names=['Age','Workclass','Fnlwt','Education','Education-num','Marital-status','Occupation','Relationship','Race','Sex','Capital-gain','Capital-loss','hours-per-week','Native-country','Income']
sqladb=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',names=names,sep=r'\s*,\s*',engine='python',na_values="?")
#sqladb.drop('results',axis=1,inplace=True)

In [133]:
conn=db.connect('affair.db')

In [ ]:
sqladb.to_sql('mytable',conn)

In [134]:
sql_string="SELECT * FROM mytable LIMIT 10"

In [135]:
pd.read_sql(sql_string,conn)

,index,Age,Workclass,Fnlwt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,hours-per-week,Native-country,Income
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [136]:
sql_string="SELECT AVG([hours-per-week]) as Average FROM mytable WHERE Workclass='Private'"

In [137]:
pd.read_sql(sql_string,conn)

     Average
0  40.267096

In [138]:
sql_string="SELECT DISTINCT(Education),COUNT(Education) as frequency FROM mytable GROUP BY Education"

In [139]:
pd.read_sql(sql_string,conn)

       Education  frequency
0           10th        933
1           11th       1175
2           12th        433
3        1st-4th        168
4        5th-6th        333
5        7th-8th        646
6            9th        514
7     Assoc-acdm       1067
8      Assoc-voc       1382
9      Bachelors       5355
10     Doctorate        413
11       HS-grad      10501
12       Masters       1723
13     Preschool         51
14   Prof-school        576
15  Some-college       7291

In [140]:
sql_string="SELECT DISTINCT(Occupation),COUNT(Occupation) as frequency FROM mytable GROUP BY Occupation"

In [141]:
pd.read_sql(sql_string,conn)

           Occupation  frequency
0                None          0
1        Adm-clerical       3770
2        Armed-Forces          9
3        Craft-repair       4099
4     Exec-managerial       4066
5     Farming-fishing        994
6   Handlers-cleaners       1370
7   Machine-op-inspct       2002
8       Other-service       3295
9     Priv-house-serv        149
10     Prof-specialty       4140
11    Protective-serv        649
12              Sales       3650
13       Tech-support        928
14   Transport-moving       1597

In [142]:
sql_string="SELECT DISTINCT(Relationship),COUNT(Relationship) as frequency FROM mytable GROUP BY Relationship"

In [143]:
pd.read_sql(sql_string,conn)

     Relationship  frequency
0         Husband      13193
1   Not-in-family       8305
2  Other-relative        981
3       Own-child       5068
4       Unmarried       3446
5            Wife       1568

In [144]:
sql_string="SELECT * FROM mytable WHERE Education='Masters' AND Workclass='Private' AND [Marital-status]='Married-civ-spouse' "

In [145]:
pd.read_sql(sql_string,conn)

,index,Age,Workclass,Fnlwt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,hours-per-week,Native-country,Income
0,5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
1,87,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
2,100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
3,188,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,<=50K
4,198,35,Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,>50K
5,311,34,Private,142897,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,7298,0,35,Taiwan,>50K
6,361,62,Private,270092,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
7,405,41,Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States,>50K
8,435,33,Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
9,468,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K
10,606,51,Private,410114,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
11,697,31,Private,118710,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,1902,40,United-States,>50K
12,777,34,Private,73585,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,None,<=50K
13,895,40,Private,170108,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
14,916,43,Private,158926,Masters,14,Married-civ-spouse,Prof-specialty,Wife,Asian-Pac-Islander,Female,0,0,50,South,<=50K
15,927,51,Private,138022,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
16,951,43,Private,227065,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,43,United-States,>50K
17,1014,38,Private,173208,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,25,United-States,<=50K
18,1145,33,Private,354573,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,44,United-States,>50K
19,1172,25,Private,404616,Masters,14,Married-civ-spouse,Farming-fishing,Not-in-family,White,Male,0,0,99,United-States,>50K
20,1197,59,Private,151616,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
21,1224,38,Private,22245,Masters,14,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,72,None,>50K
22,1293,46,Private,279661,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,35,United-States,<=50K
23,1378,65,Private,198766,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,20051,0,40,United-States,>50K
24,1593,55,Private,98361,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,None,>50K
25,1612,45,Private,46406,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,36,England,>50K
26,1642,48,Private,126754,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
27,1699,54,Private,177927,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,<=50K
28,1709,43,Private,201723,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,40,United-States,>50K
29,1717,41,Private,233955,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,China,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K
502,31400,50,Private,201882,Masters,14,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,30,United-States,<=50K
503,31420,44,Private,267717,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,42,United-States,>50K
504,31425,30,Private,182771,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
505,31434,39,Private,198841,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,45,United-States,>50K
506,31435,53,Private,53197,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,40,United-States,>50K
507,31450,55,Private,70088,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
508,31451,36,Private,199346,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,>50K
509,31456,30,Private,378009,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
510,31468,35,Private,75855,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Black,Male,7298,0,40,None,>50K
511,31592,59,Private,59469,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,Iran,<=50K
512,31596,39,Private,72338,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Philippines,>50K
513,31727,50,Private,176157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
514,31802,30,Private,341051,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
515,31816,43,Private,346321,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
516,31828,47,Private,155664,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,United-States,>50K
517,31907,48,Private,379883,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Cuba,>50K
518,31946,49,Private,123681,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,43,United-States,>50K
519,32009,43,Private,174295,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
520,32049,32,Private,313835,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
521,32114,40,Private,137225,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
522,32200,25,Private,178025,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
523,32267,31,Private,183801,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,43,United-States,>50K
524,32300,61,Private,232719,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
525,32365,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
526,32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
527,32472,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
528,32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
529,32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
530,32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [120]:
sql_string="SELECT Workclass,AVG(Age) as avg,MIN(Age) as min,MAX(Age) as max from mytable GROUP BY Workclass"

In [121]:
pd.read_sql(sql_string,conn)

          Workclass        avg  min  max
0              None  40.960240   17   90
1       Federal-gov  42.590625   17   90
2         Local-gov  41.751075   17   90
3      Never-worked  20.571429   17   30
4           Private  36.797585   17   90
5      Self-emp-inc  46.017025   17   84
6  Self-emp-not-inc  44.969697   17   90
7         State-gov  39.436055   17   81
8       Without-pay  47.785714   19   72

In [122]:
sql_string="SELECT [Native-country], Age,COUNT(Age) as freq FROM mytable GROUP BY [Native-country]"

In [123]:
pd.read_sql(sql_string,conn)

                Native-country  Age   freq
0                         None   81    583
1                     Cambodia   48     19
2                       Canada   32    121
3                        China   23     75
4                     Columbia   49     59
5                         Cuba   48     95
6           Dominican-Republic   45     70
7                      Ecuador   27     28
8                  El-Salvador   39    106
9                      England   48     90
10                      France   64     29
11                     Germany   74    137
12                      Greece   23     29
13                   Guatemala   22     64
14                       Haiti   29     44
15          Holand-Netherlands   32      1
16                    Honduras   30     13
17                        Hong   28     20
18                     Hungary   47     13
19                       India   23    100
20                        Iran   42     43
21                     Ireland   23     24
22                       Italy   41     73
23                     Jamaica   22     81
24                       Japan   54     62
25                        Laos   29     18
26                      Mexico   43    643
27                   Nicaragua   27     34
28  Outlying-US(Guam-USVI-etc)   47     14
29                        Peru   25     31
30                 Philippines   39    198
31                      Poland   85     60
32                    Portugal   48     37
33                 Puerto-Rico   33    114
34                    Scotland   49     12
35                       South   22     80
36                      Taiwan   32     51
37                    Thailand   55     18
38             Trinadad&Tobago   32     19
39               United-States   52  29170
40                     Vietnam   51     67
41                  Yugoslavia   29     16

In [124]:
sql_string="SELECT *,([Capital-gain]+[Capital-loss]) as [Net-Capital-Gain] from mytable"

In [125]:
pd.read_sql(sql_string,conn)

,index,Age,Workclass,Fnlwt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,hours-per-week,Native-country,Income,Net-Capital-Gain
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,2174
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
5,5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0
6,6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0
7,7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0
8,8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,14084
9,9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,5178
10,10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,0
11,11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,0
12,12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,0
13,13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,0
14,14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,None,>50K,0
15,15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,0
16,16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,0
17,17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K,0
18,18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,0
19,19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,0
20,20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,0
21,21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,0
22,22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,0
23,23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K,2042
24,24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K,0
25,25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,0
26,26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K,0
27,27,54,None,180211,Some-college,10,Married-civ-spouse,None,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,0
28,28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K,0
29,29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,32531,30,None,33811,Bachelors,13,Never-married,None,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K,0
32532,32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,0
32533,32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,0
32534,32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K,0
32535,32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K,0
32536,32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,0
32537,32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K,0
32538,32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,15020
32539,32539,71,None,287372,Doctorate,16,Married-civ-spouse,None,Husband,White,Male,0,0,10,United-States,>50K,0
32540,32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,0
32541,32541,41,None,202822,HS-grad,9,Separated,None,Not-in-family,Black,Female,0,0,32,United-States,<=50K,0
32542,32542,72,None,129912,HS-grad,9,Married-civ-spouse,None,Husband,White,Male,0,0,25,United-States,<=50K,0
32543,32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,0
32544,32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K,0
32545,32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,0
32546,32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K,0
32547,32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,0
32548,32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K,1086
32549,32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K,0
32550,32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,0
32551,32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,0
32552,32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,0
32553,32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,0
32554,32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,0
32555,32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
32556,32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,0
32557,32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,0
32558,32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,0
32559,32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,0
32560,32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,15024

In [126]:
from sqlalchemy import create_engine

In [127]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [128]:
from sqlalchemy.ext.declarative import declarative_base

In [129]:
Base = declarative_base()

In [149]:
from sqlalchemy import Column, Integer, String

In [152]:
class User(Base):
    __tablename__ = 'alchemy'
    id = Column(Integer, primary_key=True)
    age = Column(Integer)
    workclass = Column(String) 
    fnlwt = Column(Integer)
    education=Column(String)
    educationnum=Column(Integer)
    maritalstatus=Column(String)
    occupation=Column(String)
    relationship=Column(String)
    sex=Column(String)
    race=Column(String)
    capitalgain=Column(Integer)
    capitalloss=Column(Integer)
    hoursperweek=Column(Integer)
    nativecountry=Column(String)
    income=Column(String)

In [153]:
User.__table__

Table('alchemy', MetaData(bind=None), Column('id', Integer(), table=<alchemy>, primary_key=True, nullable=False), Column('age', Integer(), table=<alchemy>), Column('workclass', String(), table=<alchemy>), Column('fnlwt', Integer(), table=<alchemy>), Column('education', String(), table=<alchemy>), Column('educationnum', Integer(), table=<alchemy>), Column('maritalstatus', String(), table=<alchemy>), Column('occupation', String(), table=<alchemy>), Column('relationship', String(), table=<alchemy>), Column('sex', String(), table=<alchemy>), Column('race', String(), table=<alchemy>), Column('capitalgain', Integer(), table=<alchemy>), Column('capitalloss', Integer(), table=<alchemy>), Column('hoursperweek', Integer(), table=<alchemy>), Column('nativecountry', String(), table=<alchemy>), Column('income', String(), table=<alchemy>), schema=None)

In [154]:
Base.metadata.create_all(engine)

2018-09-15 09:04:00,617 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-09-15 09:04:00,631 INFO sqlalchemy.engine.base.Engine ()
2018-09-15 09:04:00,634 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-09-15 09:04:00,635 INFO sqlalchemy.engine.base.Engine ()
2018-09-15 09:04:00,637 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("alchemy")
2018-09-15 09:04:00,638 INFO sqlalchemy.engine.base.Engine ()
2018-09-15 09:04:00,642 INFO sqlalchemy.engine.base.Engine
CREATE TABLE alchemy (
	id INTEGER NOT NULL,
	age INTEGER,
	workclass VARCHAR,
	fnlwt INTEGER,
	education VARCHAR,
	educationnum INTEGER,
	maritalstatus VARCHAR,
	occupation VARCHAR,
	relationship VARCHAR,
	sex VARCHAR,
	race VARCHAR,
	capitalgain INTEGER,
	capitalloss INTEGER,
	hoursperweek INTEGER,
	nativecountry VARCHAR,
	income VARCHAR,
	PRIMARY KEY (id)
)


2018-09-15 09:04:00,643 INFO sqlalchemy.engine.base.Engine ()
2018-09-15 09:04:00,645 INFO sqlalchemy.engine.base.Engine COMMIT

In [155]:
from sqlalchemy.orm import sessionmaker

In [156]:
Session = sessionmaker(bind=engine)

In [157]:
Session = sessionmaker()

In [158]:
Session.configure(bind=engine)

In [159]:
session = Session()

In [161]:
our_user